pkgbase = cupstui
	pkgdesc = Terminal interface for CUPS: queue, printers, printing, quotas, history and logs
	pkgver = 0.1.7
	pkgrel = 1
	url = https://github.com/icortesb/cupstui
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	depends = cups
	source = cupstui-0.1.7.tar.gz::https://github.com/icortesb/cupstui/archive/refs/tags/v0.1.7.tar.gz
	sha256sums = c65ce6abbfca47f7c5b8d4494d88c600b83cf1681f5c058be357dff6593bdcd9

pkgname = cupstui
