pkgbase = cupstui
	pkgdesc = Terminal interface for CUPS: queue, printers, printing, quotas, history and logs
	pkgver = 0.1.10
	pkgrel = 1
	url = https://github.com/icortesb/cupstui
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	depends = cups
	source = cupstui-0.1.10.tar.gz::https://github.com/icortesb/cupstui/archive/refs/tags/v0.1.10.tar.gz
	sha256sums = 94596b4ee8f1116fd2115b160f7542feb6c28b18363b4324973900a35834c465

pkgname = cupstui
